<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
    <th>Title</th>
    <th>Rating</th>
    <th>Release Date</th>
    </tr>
  </thead>
</table>


<div id="movies">
  <% @movies.each do |movie| %>
    <%= movie.title %>
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>
